body,
html {
	background-color: #FFF8DC;
	border-box: box-sizing;
	display: flex;
	flex-wrap: wrap;
}

h1 {
	width: 100%;
	font-size: 400%;
	text-align: center;
	color:yellow;
	outline: solid orange;
	background-color: black;
}

.flash {
	width: 100%;
	text-align: center;
	font-size: 200%;
	color: red;
}

.restaurant {
	width: 25%;
	outline: solid orange;
	text-align: center;
	background-color: green;
}

.nameRestaurant {
	font-size: 150%;
}

.menuitems {
	width: 25%;
	outline: solid orange;
	text-align: center;
	background-color: green;	
}
.create {
	width: 100%;
	text-align: center;
	font-size: 150%;
	margin-bottom: 5%;
}

.createAndBack {
	width: 50%;
	text-align: center;
	font-size: 150%;
	margin-bottom: 5%;
}

.editdeletepane {
	font-size: 135%;
	color: violet;
}
.submitButton {
	height: 50px;
	width: 70px;
}
.name {
	font-size: 150%;
}
