<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>New Menu Item</title>
</head>
<body>
	<h1>New Menu Item</h1>
	<form action="{{url_for('newMenuItem')}}" method="POST">
		<p>Name:</p>
		<input type='text' size='30' name='name'>
		</br>
		<p>Price:</p>
		<input type='text' size='30' name='price'>
		</br>
		<p>Description:</p>
		<input type='text' size='30' name='description'>
		</br>

		<input type='submit' value='Create'>		
	</form>
	<a href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">CANCEL</a>
</body>
</html>